.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

[class*="columns-"] {
  padding: 15px;
  text-align: center;
  color: white;
  min-height: 60px;
}

.azul { 
  background: blue; }

.verde { 
  background: green; }

.rojo { 
  background: red; }

.rosa { 
  background: pink; }

.amarillo { 
  background: yellow; color: black; }

/*Completar*/
.grid .columns-12 {
    grid-column: span 12; 
  }
  .grid .columns-11 {
    grid-column: span 11;
  }
  .grid  .columns-10 {
    grid-column: span 10;
  }
  .grid  .columns-9 {
    grid-column: span 9;
  }
  .grid  .columns-8 {
    grid-column: span 8;
  }
  .grid  .columns-7 {
    grid-column: span 7;
  }
  .grid .columns-6 {
    grid-column: span 6;
  }
  .grid  .columns-5 {
    grid-column: span 5;
  }
  .grid .columns-4 {
    grid-column: span 4;
  }
  .grid .columns-3 {
    grid-column: span 3;
  }
  .grid .columns-2 {
    grid-column: span 2;
  }
  .grid .columns-1 {
    grid-column: span 1;
  } 

@media screen and (max-width: 767px) {
  [class*="columns-"] {
    grid-column: span 12 !important;
  }
}